<!DOCTYPE html>
<html>
    <head>
        <meta chatset="utf-8">
        {% block styles %}
        {% endblock %}
        <title>Рок-группа</title>
    </head>
    <body>
        {% block nav %}
            {% include 'nav.html' %}
        {% endblock %}

        {% block conc_img %}
        <style>
            #consert_image {
            display: block;
            width: 100%;
            height: 600px;
            background-image: url(/static/imgs/concert6.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
        }
        </style>
        <div id="consert_image"></div>
        {% endblock %}

        <main>
            {% block main %}
            {% endblock %}
        </main>
        {% include 'footer.html' %}
    </body>
</html>