<footer style="border-top: 1px solid rgba(79, 173, 250, 0.3);">
    <div>
        <h6>Где нас найти</h6>
    </div>
    <ul>
        <li><a id='tg' href="#" style="background-image: url(/static/icons/tg.png);"></a></li>
        <li><a id='vk' href="#" style="background-image: url(/static/icons/vkontakte.png);"></a></li>
        <li><a id='spot' href="#" style="background-image: url(/static/icons/spotify.png);"></a></li>
        <li><a id='yt' href="#" style="background-image: url(/static/icons/ytube.png);"></a></li>
    </ul>
</footer>